/* Webfont: Mazurquica-Thin */
@font-face {
font-family: 'Mazurquica';
src: font-url( 'Mazurquica-Thin.eot');
src: font-url( 'Mazurquica-Thin.eot?#iefix') format('embedded-opentype'),
	 font-url( 'Mazurquica-Thin.woff2') format('woff2'),
	 font-url( 'Mazurquica-Thin.woff') format('woff'),
	 font-url( 'Mazurquica-Thin.ttf') format('truetype');
font-style: normal;
font-weight: 100;
}

/* Webfont: Mazurquica-Light */
@font-face {
font-family: 'Mazurquica';
src: font-url( 'Mazurquica-Light.eot');
src: font-url( 'Mazurquica-Light.eot?#iefix') format('embedded-opentype'),
	 font-url( 'Mazurquica-Light.woff2') format('woff2'),
	 font-url( 'Mazurquica-Light.woff') format('woff'),
	 font-url( 'Mazurquica-Light.ttf') format('truetype');
font-style: normal;
font-weight: 300;
}

/* Webfont: Mazurquica-Regular */
@font-face {
font-family: 'Mazurquica';
src: font-url( 'Mazurquica-Regular.eot');
src: font-url( 'Mazurquica-Regular.eot?#iefix') format('embedded-opentype'),
	 font-url( 'Mazurquica-Regular.woff2') format('woff2'),
	 font-url( 'Mazurquica-Regular.woff') format('woff'),
	 font-url( 'Mazurquica-Regular.ttf') format('truetype');
font-style: normal;
font-weight: 400;
}

/* Webfont: Mazurquica-Medium */
@font-face {
font-family: 'Mazurquica';
src: font-url( 'Mazurquica-Medium.eot');
src: font-url( 'Mazurquica-Medium.eot?#iefix') format('embedded-opentype'),
	 font-url( 'Mazurquica-Medium.woff2') format('woff2'),
	 font-url( 'Mazurquica-Medium.woff') format('woff'),
	 font-url( 'Mazurquica-Medium.ttf') format('truetype');
font-style: normal;
font-weight: 500;
}

/* Webfont: Mazurquica-SemiBold */
@font-face {
font-family: 'Mazurquica';
src: font-url( 'Mazurquica-SemiBold.eot');
src: font-url( 'Mazurquica-SemiBold.eot?#iefix') format('embedded-opentype'),
	 font-url( 'Mazurquica-SemiBold.woff2') format('woff2'),
	 font-url( 'Mazurquica-SemiBold.woff') format('woff'),
	 font-url( 'Mazurquica-SemiBold.ttf') format('truetype');
font-style: normal;
font-weight: 600;
}

/* Webfont: Mazurquica-Bold */
@font-face {
font-family: 'Mazurquica';
src: font-url( 'Mazurquica-Bold.eot');
src: font-url( 'Mazurquica-Bold.eot?#iefix') format('embedded-opentype'),
	 font-url( 'Mazurquica-Bold.woff2') format('woff2'),
	 font-url( 'Mazurquica-Bold.woff') format('woff'),
	 font-url( 'Mazurquica-Bold.ttf') format('truetype');
font-style: normal;
font-weight: 700;
}

/* Webfont: Mazurquica-Black */
@font-face {
font-family: 'Mazurquica';
src: font-url( 'Mazurquica-Black.eot');
src: font-url( 'Mazurquica-Black.eot?#iefix') format('embedded-opentype'),
	 font-url( 'Mazurquica-Black.woff2') format('woff2'),
	 font-url( 'Mazurquica-Black.woff') format('woff'),
	 font-url( 'Mazurquica-Black.ttf') format('truetype');
font-style: normal;
font-weight: 900;
}

// // Variables
//
 $base-font: 'DM Sans', sans-serif;
 $title-font: 'Mazurquica';
 $black: #272727;
 $pink: #FF297A;
 $yellow: #FFEB26;
 $cyan: #40DCFF;
 $blue: #1565E5;
 $primary: #1565E5;
// $primary-rgb: 239,96,77;
 $secondary: #1565E5;
// $secondary-rgb: 89,154,166;
// $success: #57d685;
// $success-rgb: 87,214,133;
// $warning: #ffae00;
// $warning-rgb: 255,174,0;
// $alert: #ec5840;
// $alert-rgb: 236,88,64;
//
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
//
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;
//
// // Define custom properties as css color variables
//
 :root{
   --primary: #{$primary};
//   --primary-rgb: #{$primary-rgb};
   --secondary: #{$secondary};
//   --secondary-rgb: #{$secondary-rgb};
//   --success: #{$success};
//   --success-rgb: #{$success-rgb};
//   --warning: #{$warning};
//   --warning-rgb: #{$warning-rgb};
//   --alert: #{$alert};
//   --alert-rgb: #{$alert-rgb};
//   --proposals: #{$proposals};
//   --actions: #{$actions};
//   --debates: #{$debates};
//   --meetings: #{$meetings};
//   --twitter: #{$twitter};
//   --facebook: #{$facebook};
//   --google: #{$google};
 }

@import "decidim/application";

//Basics
body{
    font-family: $base-font;
    color: $black;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}
h1, h2, h3{
    font-weight: 700;
}
h4, h5, h6 {
    font-weight: 600;
}
h6{
    font-size: 1.8rem;
}
a:hover{
    color: $blue;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: $blue;
    color: white !important;
}
.bg-pink{
    background-color: $pink;
    color: white !important;
}
.bg-yellow{
    background-color: $yellow;
}
.bg-cyan{
    background-color: $cyan;
}
.bg-wall{
    background-image: url(https://ahoranostocaparticipar.cl/images/wall-opacity.jpg);
    background-repeat: repeat;
    background-size: auto;
}
.hero {
    margin-top: -297px;
		padding-bottom: 8em;
}
.hero::after{
    background-color: transparent;
}
.highligted-content-banner::after{
    background-color: transparent;
}
.mb-3{
    margin-bottom: 3rem;
}
.visible-mobile{
    display:none;
}

//Navbar
.cookie-warning{
    background: $yellow;
}

.title-bar {
    background: $primary;
}
.navbar{
    background: $black;
}
.topbar__user__login a:hover {
    color: $black;
}
.main-nav__link a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: 700;
}

//Text
.home-subtitle {
    font-size: 1.6rem;
    color: $black;
    line-height: 1.2;
}
a>h4.home-subtitle:hover{
    color: $blue;
}
.text-highlight{
    text-shadow: none;
}
.text-uppercase{
    text-transform: uppercase;
}

//Buttons
.button{
    border-radius: 6px;
    padding: 1.6em 1.6em 1.4em;
    font-size: 0.7rem;
}
.button--sc {
    letter-spacing: 0.1em;
}
.button.hollow {
    border: 2px solid $blue;
}
.button.small {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}
.process-header__phase .button, .process-phase .button{
    font-weight: 700;
}
.hollow-border-black {
    border: 2px solid $black !important;
    color: $black !important;
    &:hover{
        border: 2px solid black !important;
        background: $black !important;
        color: white !important;
    }
}
.hollow-small{
    padding: 1em 1em 0.8em;
}
.button-white {
    background-color: white;
    color: $black;
    &:hover{
        background-color: $black;
        color: white;
    }
}
.button-black {
    background-color: $black;
    color: white;
    &:hover{
        background-color: white;
        color: $black;
    }
}
.button-news{
    float: right;
    position: relative;
    top: -96px;
    border-radius: 0 6px 6px 0;
    background: $black;
    height: 48px;
    &:hover{
        background: $blue !important;
    }
}
.callout.warning {
    display: none;
}
.floating-helper__text{
    display: none;
}
.floating-helper__icon{
    display: none;
}
.floating-helper__content-close{
    display: none;
}
.floating-helper__icon-big{
    display: none;
}
.floating-helper__content {
    background-color: transparent;
    border-top: none;
    margin-bottom: 0;
    font-family: $title-font;
    line-height: 1.2;
    text-align: center;
}
.floating-helper__content-inner p {
    line-height: 1.2 !important;
    font-size: 3rem;
}

//Sections backgrounds
.section-padding-0{
	padding: 0 0;
}
.section-padding-4{
	padding: 4em 0;
}
.section-padding-8{
	padding: 8em 0;
}
.section-center{
	text-align: center;
}
.section-over{
    position: relative;
    z-index: 500;
}
.section-over-over{
    position: relative;
    z-index: 1000;
}

//Borders backgrounds
.border-video-top{
	background-image: asset_url('border-video-top.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 18em;
	margin-top: -15em;
}
div#video{
}
.border-video-bottom{
	background-image: asset_url('border-video-bottom.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 27em;
	margin-top: -15em;
}
section#processes{
	margin-top: -4em;
	padding-top: 8em;
	padding-bottom: 1em;
}
.border-meetings-top{
	background-image: asset_url('border-meetings-top.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 17em;
	margin-top: -16em;
}
section#meetings{
}
.border-meetings-bottom{
	background-image: asset_url('border-meetings-bottom.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 26em;
	margin-top: -19em;
}
section#assemblies{
	margin-top: -6em;
	padding-top: 16em;
	padding-bottom: 16em;
}
.border-howto-top{
	background-image: asset_url('border-howto-top.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 15em;
  margin-top: -15em;
}
section#howto{
}
.border-howto-bottom{
	background-image: asset_url('border-howto-bottom.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 26em;
  margin-top: -21em;
}
section#banner{
	margin-top: -6em;
  padding-top: 12em;
  padding-bottom: 12em;
}
.border-documents-top{
	background-image: asset_url('border-documents-top.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 5em;
	margin-top: -6em;
}
div#documents{
	padding-top: 12em;
	padding-bottom: 4em;
}
.border-documents-bottom{
	background-image: asset_url('border-documents-bottom.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 33em;
	margin-top: -18em;
}
div#figure{
	margin-top: -15em;
	padding-top: 1em;
	padding-bottom: 3em;
}
.border-suscription-top{
	background-image: asset_url('border-suscription-top.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 8em;
	margin-top: -7em;
}
div#suscription {
  padding: 4em 0 0em;
}
.border-suscription-bottom{
	background-image: asset_url('border-suscription-bottom.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 100;
	min-height: 24em;
  margin-top: -16em;
}
div#contact{
	margin-top: -7em;
	padding-top: 12em;
}

//Documents
.heading6 {
    font-size: 1.4em;
}
.text-small {
    font-size: 90%;
}

//Cards
.heading5, .card__title, .author-data--big .author__name, .card__link {
		color: $black;
}
.heading5, .card__title, .author-data--big .author__name,{
    font-size: 1.8em;
}
.card__status {
    display: none;
}
.card__icondata {
    display: none;
}
.card__footer, .card__top {
    background: transparent;
    border-top: none;
    border-radius: 0 0 4px 4px;
    clear: both;
}

//Asemblies
div#assemblies-filter {
    display: none;
}
section#assemblies-chart {
    display: none;
}

//Process
section#highlighted-processes {
    display: true;
}
div#participatory-space-filters {
    display: none;
}
.section-heading {
    display: none;
}
.process-nav__link {
    letter-spacing: 1px;
    font-size: 0.8em;
    margin-top: 5px;
}
.process-header__inner {
    height: 300px;
}
.process-header__main {
    clip-path: none;
    background-position: center;
}
.process-header .heading2, {
    font-size: 3em;
    line-hegith: 2.6rem;
}
.heading-small {
    font-size: 1.6rem;
}
.data-definition{
    display: none;
}
.tech-info{
    display: none;
}

//Estadistics
.home-pam__highlight .home-pam__data{
    border-bottom: none;
    border-right: none;
}
.home-pam__title {
    color: white;
    text-transform: none;
    font-family: $title-font;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0;
}

.home-pam__highlight .home-pam__number {
    font-size: 4rem;
    line-height: 1;
    font-family: $title-font;
    font-weight: 900;
}

//According
.accordion{
    background: transparent;
}
.accordion-title{
    border: none;
    color: $black;
    font-weight: 700;
    font-size: 1.4rem;
    background: white;
    border-radius: 6px;
    margin: 0 0 10px;
    font-family: $title-font;
}
.accordion-content{
    color: $black;
    border: none;
    border-radius: 0 0 6px 6px;
    margin: -15px 0 10px;
}
.accordion-item:first-child > :first-child {
    border-radius: 6px;
}
:last-child:not(.is-active) > .accordion-title {
    border-bottom: none;
    border-radius: 6px;
}
.accordion-title:hover, .accordion-title:focus {
    background-color: white;
}

//Forms
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
    height: 3rem;
    padding: 1rem;
    border: none;
    box-shadow: none;
    border-radius: 6px;
    color: $black;
}
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus{
    border: none;
    box-shadow: none;
}
textarea{
    height: 180px;
}
p#success-subscription {
    text-align: left;
}

//Footer
.main-footer {
    background-color: $primary;
    padding: 3rem 0;
    min-height: 130px;
    a{
        color: white;
        &:hover{
           color: $black;
        }
    }
}
.mini-footer {
    background-color: $black;
}
.footer-social {
    padding-top: 1.2rem;
    margin: 0;
}
.main-footer__badge {
    width: auto;
}
.main-footer__badge>img {
    position: relative;
    width: 14rem;
    top: -2rem;
    left: 8rem;
}

.rrss{
  background: white;
  top: 260px;
  width: 50px;
  color: white;
  margin: 0 0 10px;
  padding: 7px 0 7px 0;
  text-align: center;
  a{
    color: white;
    &:hover{
      color: white;
    }
    &:focus{
      color: white;
    }
  }
}

.rrss-right{
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right;
    text-align: -ms-right;
}

.omnipresent-banner{
    background-color: $yellow;
}

.omnipresent-banner a {
    color: black;
}
.omnipresent-banner a:hover, .omnipresent-banner a:focus {
    color: black;
}
.omnipresent-banner svg.icon--media-play.icon {
    display: none;
}
.omnipresent-banner .omnipresent-banner-short-description {
    background: #1a181d;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 0.7em 0.7em 0.5em;
    border-radius: 6px;
}

@media print, screen and (max-width: 1280px){
.main-footer__badge>img {
    top: -1rem;
}
.floating-helper__content-inner p {
    font-size: 2.5rem;
}
.visible-mobile{
    display:none;
}

//Borders backgrounds
div#video{
	margin-top: -7em;
	margin-bottom: -23em
}
section#meetings {
    margin-top: -9em;
    margin-bottom: -22em;
}
section#howto {
    margin-top: -4em;
}
div#documents {
    padding-top: 6em;
    padding-bottom: 0em;
}
.border-documents-bottom{
	min-height: 33em;
	margin-top: -18em;
}
div#figure{
	margin-top: -15em;
	padding-top: 10em;
	padding-bottom: 3em;
}
.border-suscription-top{
	min-height: 8em;
	margin-top: -7em;
}
div#suscription {
  padding: 3em 0 0em;
}
.border-suscription-bottom{
	min-height: 24em;
  margin-top: -16em;
}
div#contact{
	margin-top: -7em;
	padding-top: 12em;
}

}

@media print, screen and (max-width: 991px){
	.rrss-stick{
	    display: none;
	}
	.hero-heading {
	    font-size: 3.5rem;
	}
	.hero {
	    margin-top: 0;
	}
	.l-left-s-center{
	    text-align: center;
	}
	.visible-mobile{
	    display:block;
	}
	.visible-desk{
	    display:none;
	}
	//Borders backgrounds
	.border-video-top{
		min-height: 14em;
	}
	div#video{
		margin-top: -4em;
	}
	section#processes{
		margin-top: -6em;
		padding-top: 12em;
		padding-bottom: 1em;
	}
	section#meetings{
		margin-top: -13em;
	}
	section#assemblies{
		margin-top: -10em;
	}
	section#howto{
		margin-top: -7em;
		padding-top: 0em;
	}
	.border-howto-bottom{
	  margin-top: -23em;
	}
	div#documents{
		padding-top: 2em;
	}
	.border-documents-bottom{
		margin-top: -26em;
	}
	div#suscription{
		padding: 1em 0 0em;
	}

}

@media print, screen and (max-width: 640px){
.omnipresent-banner .omnipresent-banner-short-description {
    position: relative;
    top: 0.3em;
}
}

@media print, screen and (min-width: 640px){
.main-nav__link a {
    padding: 1.4em 2em;
}
.main-nav__link--active a {
    box-shadow: inset 0 4px 0 0 white;
}
}

.title-action__action{
		display:none;
}
